@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Extralight.woff2) format('woff2');
}

@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'CD';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./assets/fonts/ClashDisplay-Bold.woff2) format('woff2');
}